*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto", sans-serif;
}


body{
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

h3{
    font-style: normal;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 40px;
    line-height: 37.5px;
    color: #ffffff;
    margin-top: 126px;
    margin-bottom: 26px;
    text-align: center;
    
}

input{
    background: rgba(255, 255, 255, 0.25);
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 74;
    width: 342px;
    margin-top: 50px;
    padding-left: 20px;
    font-weight: 500px;
    font-size: 40px;
    line-height: 47px;
    color: #ffffff;
    opacity: 0.7;
  
}

.input-min{
    margin-right: 62px;
}


button{
    background: #10790c;
    box-shadow: 0px 18px 40px 0px #56c46059;
    display: block;
    letter-spacing: 5px;
    width: 342px;
    height: 72px;
    border-radius: 10px;
    margin: 80px auto ;
    font-size: 36px;
    font-weight: 700;
    font-size: 36px;
    color: #ffffff;
    cursor: pointer;
  
}
button:hover{
    opacity: 0.9;
}
button:active{
    opacity: 0.8;
}

#resultado-final{
    display: flex;
    margin: 10px auto;
    text-align: center;
    color: #ffffff;
}

h1{
    border-radius: 100%;
    font-size: 80px;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 18px 40px 0px #01ff1659;
}
